

    <div ng-app="postApp" class="row"> 
      <div ng-controller="postCtrl">

    <div class="small-6 columns">
      <h1>Static#index</h1>
      <ul>
        <li ng-repeat="post in posts">
          {{ post.title }}
          {{ post.text }}
          <a ng-click="destroyPost( post )" class="button tiny round alert">
            X
          </a>
          <a ng-click="editPost( post )" class="button tiny round secondary">
            edit
          </a>
        </li>
      </ul>
    </div>





    <div class="small-6 columns">
  <div ng-hide="showEdit">
      <h3>Queue up a Post!</h3>
      <form ng-submit="addPost()" name="postForm">
        <div class="row">
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Title</span>
              </div>
              <div class="small-9 columns">
                <input type="text" placeholder="Value" 
                  ng-model="newPost.title" required>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Text</span>
              </div>
              <div class="small-9 columns">
                <input type="text" placeholder="text"
                  ng-model="newPost.text" required>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="Add New Post!!" class="button radius">
      </form>
    </div>


    <div ng-show="showEdit">
      <h3>Edit up a Post!</h3>
      <form ng-submit="updatePost()" name="postForm">
        <div class="row">
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Title</span>
              </div>
              <div class="small-9 columns">
                <input type="text" placeholder="Value" 
                  ng-model="post.title" required>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Text</span>
              </div>
              <div class="small-9 columns">
                <input type="text" placeholder="text"
                  ng-model="post.text">
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="Update!!" class="button radius">
      </form>
    </div>
    </div>
  </div>
</div>
